/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "Work", sans-serif;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/
body {
    margin:0px;
    font-size: 14px;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 14px;
    padding: 2em;
}

.ul-nav {
    display: flex;
    flex-direction: row;
    gap:4em;
}
h1{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 800;
    color: #B1663C
}

h1 > span {
    font-size:10px;
    letter-spacing: 0.1em;
;
}

.logo {
    width: 8%;
}

h2{
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;


}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #B1663C;
}



#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}
#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
}
.gallery {
    padding:2em;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.gallery img {
    width: 100%;

}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 40px;
}
#contact p, #contact a  {
    text-align: center;
    font-size: 24px;
    padding-block: 14px;
}
#contact h2{
    margin-bottom: 10px;
    color:#CF9215;
    font-size: 30px;
}

#contact a {
    color:#710808;
}
#contact a:hover {
    color:#CF9215;
    cursor: pointer;
}
.phone {
    font-weight: 500;
    font-size: 30px;
    padding-block: 4px;
}

input[type="submit"]{
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin : 2em auto ;
    width: 180px;
    text-align: center;
    border-radius: 60px ;
}


/* FILTRES*/

#filters {
    display: flex;
    justify-content: center;
    gap : 10px;
}
.categorieAPI, #filterTous{
    border: 1px solid #1D6154;
    background-color: white;
    border-radius: 60px;
    font-size: 16px;
    font-family: "Syne";
    font-weight: 700;
    color : #1D6154;
    padding: 9px 14px 9px 14px;
}
.categorieAPI:hover {
    color:white;
    background-color:#1D6154 ;
}
#filterTous:hover {
    color:white;
    background-color:#1D6154 ;
}

/* HEADER EN MODE EDITION */
#headerStaticLogin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
#lienPagePrincipale {
    text-decoration: none;
}

#logout {
    display: none;
    color:#CF9215;
}

#logout:hover {
    color: #B1663C;
}

.boutonModifier {
    border: 0;
    background-color: #FFFEF8;
    font-size: 18px;
    font-family: 'Work';
    font-weight: 100;
    padding: 0;
}

.boutonModifier:hover {
    color:#CF9215;
}


.boutonModifier3{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


#headerEdition {
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#headerEdition i {
    color: white;
    font-weight: 400;
    margin-right: 10px;
}
#headerEdition p {
    color: #FFFFFF;
    margin-right: 21px;
    font-size: 16px;
    font-weight: 800;
}

#boutonPublierLesChangements{
    font-size : 14px;
    color: black;
    background-color: white;
    border: 0;
    border-radius: 60px;
    padding-left: 23px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 23px;

}
#headerStatic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.allFilters {
    justify-content: center;
}


#photoSophieBluel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 55px;
}

#introduction img {
    margin : 0px;
}
.boutonModifier3 {
    display: flex;
    align-items: center;
}
#portfolio h2 {
    margin : 0px;
    margin-right: 31px;
}
.open_modal {
    text-decoration: none;
    color:black;
}

/*MODAL 1 */
.modal {
    position : fixed;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    background : rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: solid 2px black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal1_wrapper {
    background-color: white;
    width: 630px;
    height: 731px;
    overflow: auto;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
}

.modal_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nav_modal1 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}
#titleModal {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 46px;
}
.miniatures_projets {
    height: 432px;
    width: 420px;
    display: grid;
    grid-template-columns: 78px 78px 78px 78px 78px;
    grid-template-rows: 120px 120px 120px;
    gap: 6px;
    object-fit: cover;

}
.figure_miniature>img {
    z-index: 0;
}


.div_icone_corbeille {
    background-color: #000000;
    border-radius: 2px;
    width: 17px;
    height: 17px;
    position: relative;
    top: -95px;
    left: 52px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new_div_icone_corbeille {
    background-color: #000000;
    border-radius: 2px;
    width: 17px;
    height: 17px;
    position: relative;
    top: -107px;
    left: 52px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new_div_icone_corbeille> .fa-trash-can {
    color:white;
    font-size: 9px;
}

.div_icone_corbeille> .fa-trash-can {
    color:white;
    font-size: 9px;
}

.icone_corbeille:hover {
    cursor: pointer;
}

.paragraphe_editer {
    position : relative;
    font-size: 12px;
    z-index: 1;
    top: -15px;
}

.new_paragraphe_editer {
    position : relative;
    font-size: 12px;
    z-index: 1;
    top: 0px;
}

.button_modal {
    background-color: #1D6154;
    font-size: 14px;
    font-family: 'Syne';
    font-weight: 700;
    color : white;
    border-radius: 60px;
    padding : 10px 49px 10px 49px;
    width: 250px;
    text-align: center;
    text-decoration: none;
}
#button_supprimer_galerie {
    color:red;
    font-size: 14px;
    font-family: 'Syne';
    margin-top: 40px;
    cursor : pointer;
    background-color: white;
    border: none;
}

#button_supprimer_galerie:hover {
    color:black;
}

#button_ajouter_photo:hover {
    background-color: #1D6154;
}

#button_ajouter_photo {
    background-color: #710808;
}

.div_icone_agrandir {
    background-color: #000000;
    border-radius: 2px;
    width: 17px;
    height: 17px;
    position: relative;
    top: -124px;
    left: 30px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_icone_agrandir> .fa-up-down-left-right {
    color:white;
    font-size: 9px;
}

/*MODAL 2*/


.modal2_wrapper {
    background-color: white;
    width: 630px;
    height: 731px;
    overflow: auto;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
}


#nav_modal2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.button_return{
    margin-top:30px;
    margin-left: 30px;
    cursor : pointer;
}
.closebutton_modal {
    margin-top:32px;
    margin-right: 36px;
    color:white;
    background-color: grey;
    padding: 6px;
    border-radius: 50%;
}

.closebutton_modal:hover{
    cursor : pointer;
    background-color: #710808;
}

.modal_wrapper_up{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.zone_photo_vide {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8F1F6;
    width: 420px;
    height: 170px;
    margin-bottom: 9px;
}
.fa-image {
    font-size: 58px;
    color:#B9C5CC;
    margin-top: 28px;
    margin-bottom: 21px;
}
.upload_image {
    width: 180px;
    height: 36px;
    background-color: #CBD6DC;
    border-radius: 50px;
    color :#306685;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zone_photo_vide >p {
    font-size: 10px;
}

.selecteurs_modal2 {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-left:105px;
    margin-right:105px;
    margin-bottom: 32px;
    padding-bottom: 47px;
    border-bottom: solid 1px;
}
.selecteurs_modal2 >label {
    margin-bottom: 10px;
    margin-top: 21px;
}
.selecteurs_modal2 >input {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: none;
    height: 51px;
}
.selecteurs_modal2 >select {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: none;
    height: 51px;
    background-color: white;
}
.button_valider {
    display: flex;
    align-items: center;
}
.button_valider > input {
    background-color: #A7A7A7;
}

.imageFormulaireApres {
    height: 170px;
    object-fit: cover;
}

.link-in-nav {
    color: #CF9215;
    text-decoration: none;
    font-size: 20px;
}

.link-in-nav:hover, #lienLogin:hover{
text-decoration: underline
}

/* CARDS */

.work-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-height:500px;
    justify-content: center;
    align-items: center;
}
.work-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.work-date, .work-title {
    font-size: 16px;
}

.etiquette-container {
    position: absolute;
    top:0;
    display: flex;
    color:white;
    padding:1em;
    font-weight: 600;
}

.etiquette-avant {
    background-color: #000000;
    right:0;
    color:white;
}

.etiquette-apres {
    background-color: #000000;
    left:0;

}

.title-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom:0;
    text-align: center;
    color:white;
    background-color: #710808;
    padding:1em;
    border: none;
    width: 60%;
    font-weight: 600;
    border-radius: 25px 25px 0px 0px;
}

.filter-category {
    border: 1px solid #710808;
    border-radius: 50px;
    padding-inline:15px;
    padding-block: 10px;
}

.filter-category:hover {
    cursor: pointer;
   background-color: #710808;
    color:white;
}

/* Styles pour le carrousel */
#introduction {
    position: relative; /* Assure que les boutons du carrousel se positionnent correctement */
    margin-bottom: 50px; /* Espace entre le carrousel et l'image */
}

.carousel-container {
    position: absolute; /* Positionne le carrousel au-dessus de l'image */
    bottom: 20px; /* Alignement du carrousel en bas de la section, ajustable */
    left: 50%; /* Centre horizontalement le carrousel */
    transform: translateX(-50%); /* Compense le décalage dû à left: 50% */
    width: 100%;
    max-width: 760px; /* Ajuste la largeur du carrousel */
    margin: auto;
    overflow: hidden;
    background-color: #f9f9f9; /* Optionnel : pour mieux voir le carrousel */
    border-radius: 10px; /* Optionnel : pour des coins arrondis */
    z-index: 100; /* Assure que le carrousel est au-dessus de l'image */
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.carousel-slide p {
    font-size: 1.2em;
    margin: 0;
    padding-top: 1em;
    padding-inline:4em;
}

.carousel-slide cite {
    display: block;
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

.carousel-button {
    position: absolute;
    top: 26%;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5em;
    color: #333;
    z-index: 101; /* Assure que les boutons sont au-dessus du carrousel */
}

.carousel-button:hover{
    background-color: #CF9215;

}

.fa-star {
    color:#CF9215;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

#introduction img {
    display: block; /* Assure que l'image est bien affichée */
    width: 100%;
    margin: auto;
}

.stars-container {
    margin:0px;
}

#projets {
    color:#CF9215;
}

footer {
    background-color: black;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
}

.footer-container, .login-btn {
    color:white;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap:40px;
}

/* LOGIN  */
.btn-back {
    color:#CF9215;
    font-size: 20px;
}

#lienLogin {
    text-decoration: none;
}


#login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 112px;

}
.ConexionForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    min-height: 300px;
    text-align: left;
    gap:1rem;
    padding: 1em;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #CF9215, 10px 10px #CF9215;
    font-family: "Work", sans-serif;
}

.ConexionForm label {
    font-size: 18px;
    color:#CF9215;
    font-weight: 800;
}

.ConexionForm h2 {
    text-align: center;
    margin-bottom: 37px;
    color:#CF9215;
}

.buttonSeConnecter {
    margin-top: 28px;
    background-color:#CF9215 ;
    border: none;
    align-self: center;
    border-radius: 60px;
    padding : 10px 39px 10px 39px;
    color:white;
    font-size: 14px;
}

.buttonSeConnecter:hover {
    cursor: pointer;
    background-color: #710808;
}


#inputEmail,
#inputPassword {
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: none;
    height: 40px;
    border-radius: 50px;
    padding-inline: 10px;
}


/* ADD WORK  */

.main-add-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#works {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap:1em;
}

#works div {
    display: flex;
    flex-direction: column;
    gap:1em;
}

#works div input{
    height: 30px;
}

#works div input:hover{
    cursor: pointer;
}
#works div select{
    height: 30px;
}

#works div select:hover{
    cursor: pointer;
}
.btn-submit-form {
    margin-top: 28px;
    background-color:#CF9215 ;
    border: none;
    align-self: center;
    border-radius: 60px;
    padding : 10px 39px 10px 39px;
    color:white;
    font-size: 14px;
}
.btn-submit-form:hover {
    background-color: #710808;
    cursor: pointer;
}
.btn-submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}